@import 'tailwindcss';

/* noto-serif-lao-latin-wght-normal */
@font-face {
	font-family: 'Noto Serif Lao Variable';
	font-style: normal;
	font-display: swap;
	font-weight: 100 900;
	src: url(@fontsource-variable/noto-serif-lao/files/noto-serif-lao-latin-wght-normal.woff2)
		format('woff2-variations');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* cookie-latin-400-normal */
@font-face {
	font-family: 'Cookie';
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url(@fontsource/cookie/files/cookie-latin-400-normal.woff2) format('woff2'),
		url(@fontsource/cookie/files/cookie-latin-400-normal.woff) format('woff');
	unicode-range:
		U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329,
		U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

h1,
h2,
h3,
h4 {
	font-family: 'Cookie', cursive;
}

body {
	font-family: 'Noto Serif Lao Variable', serif;
}

.snowflake {
	position: absolute;
	top: -10px;
	color: white;
	font-size: 1.5em;
	opacity: 0.66;
	animation: fall linear infinite;
	user-select: none;
}

@keyframes fall {
	to {
		transform: translateY(100vh) rotate(360deg);
	}
}

@theme {
	--animate-cyclone: cyclone 1.5s ease-in-out;

	@keyframes cyclone {
        0% {
            transform: rotateY(0deg);
        }
        100% {
            transform: rotateY(720deg);
        }
    }
}
