@import 'tailwindcss';

.snowflake {
    position: absolute;
    top: -10px;
    color: white;
    font-size: 1.5em;
    opacity: 0.8;
    animation: fall linear infinite;
    user-select: none;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
    }
}
